body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #C5C1C0;
}
.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.menu-header img {
    width: 100%;
}
.menu-title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
.menu-box {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.dados-box{
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu-item {
    background: linear-gradient(#FFF, #F5F5F5);
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}
.menu-item img {
    width: 100%
}
.price {
    font-weight: bold;
    color: green;
    font-size: 1em;
}
.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1px;
}
.quantity button {
    background: #FFF;
    color: #000;
    font-weight: bold;
    border: none;
    padding: 10px 8px;
    cursor: pointer;
    border-radius: 5px;
}
.quantity input {
    width: 30px;
    text-align: center;
    border: 0px solid #F5F5F5;
    background-color: #F5F5F5;
}

p.texto{
    font-weight: bold;
    font-size: 0.9em;
}

p{
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

h3{
    margin-top: 1px;
}

.dados-box {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: center;
}

.dados-box input {
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.calc {
    background-color: #0068DA;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.calc:hover {
    background-color: #0050A5;
}